h1 {
    float: left;
    color: #000;
    margin: 30px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}
h3 {
    padding-top: 10px;
    margin-bottom: 0px;
}
p {
    padding: 20px;
    color: #000;
}
#nav-title {
    padding: 0px;
    margin: 0px;
    height: auto;
    width: auto;
}
#header-nav {
    background-color: #999999;
    border-radius: 0;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: none;
    border-right: none;
}
#nav-container {
    padding: 0px;
}
#nav-header {
    margin: 0px;
}
#menu-button {
    margin: 30px;
    padding: 10px;
    border: 1px solid #000;
}
#menu-button span {
    background-color: #000;
}
#menu-button:hover {
    background-color: #fff;
}
#menu-button:focus {
    background-color: #999999;
    border: 1px solid #fff;
}
#menu-button:focus span {
    background-color: #fff;
}
#collapsable-nav {
    border: none;
    margin: 0px;
    padding: 0px;
}
#collapsable-nav a {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 1.5em;
    border-top: 1px solid #000;
    margin: 0px;
}
#nav-list {
    margin: 0px;
    border-top: 4px solid #000;
    border-right: 5px solid #000;
    border-bottom: none;
    border-left: 5px solid #000;
}
#menu-items-row {
    margin: 0px;
}
#main-content {
    color: #000;
    padding: 15px;
}
.food-item-section {
    background-color: #999999;
    padding: 0px;
    border: 15px solid #fff;
}